@import "_hero";
@import "_form";
@import "_base";
@import "scrollableCards";
@import "whyus";
@import "_products";
@import "_review";
@import "_feedback";
@import "_footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}
